<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:700,400">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:700,400">
		<style>
			body {
				background-color: #FFFFFF;
			}
			h1 {
				font-family: 'Raleway', Sans-Serif, Arial;
				font-size: 60px;
			}
			h2 {
				font-weight: 100;
				font-family: 'Raleway', Sans-Serif, Arial;
			}
			p {
				font-weight: 100;
				font-family: 'Raleway', Sans-Serif, Arial;
				font-size: 20px;
			}
			.description {
				padding-left: 60px;
				padding-top: 60px;
			}
			.app-description {
				padding-top: 30px;
			}

		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row description">
				<div class="col-md-6">
					<h1>Let's get cooking.</h1>
					<h2>Get instant recipes with the ingredients you have using Feedley.</h2>
					<div class="app-description">
						<p>Take your available ingredients and use Feedley's simple search to get the most popular recipes using only the ingredients you have on hand. Keep your meals interesting while also reducing waste from throwing out leftover ingridients. Feedly is all it takes to turn leftover ingredients into a complete meal, no stress no mess.</p>
					</div>
				</div>
				<div class="col-md-2">
				</div>
	  		<div class="col-md-4">
	  			<h1>////////////////////ANDROID APPSCREENSHOT GOES HERE//////////////////</h1>
	  		</div>
			</div>
		</div>
	</body>
</html>